@using Application.Models.ViewModel;

@model ResultViewModel
@{
    ViewData["Title"] = "Edit";
    var Students = new SelectList(ViewBag.Students, "StudentId", "StudentName");
    var Cources = new SelectList(ViewBag.Cources, "CourcesId", "CourcesName");


}

<h1>Update Result</h1>
<br />
<br />

<div class="row">
    <div class="col-6">
        <form asp-action="Edit" asp-controller="Result"> 
            <input hidden asp-for="ResultId"/>
            <div class="form-group">
                <label asp-for="@Model.ResultDegree" class="col-form-label"></label>
                <input asp-for="@Model.ResultDegree" class="form-control" />
                <span asp-validation-for="@Model.ResultDegree" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="@Model.StudentNo" class="col-form-label"></label>
                <select asp-for="@Model.StudentNo" asp-items="Students" class="form-control">
                    <option>--- Select student ---</option>
                </select>
                <span asp-validation-for="@Model.StudentNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CourceNo" class="col-form-label"></label>
                <select asp-for="@Model.CourceNo" asp-items="Cources" class="form-control">
                    <option>--- Select cource ---</option>
                </select>
                <span asp-validation-for="@Model.CourceNo" class="text-danger"></span>
            </div>
           
            <input type="submit" value="Add" class="btn btn-primary"/>
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>

@section Scripts {


    <partial  name="_ValidationScriptsPartial"/>
   
}



