@using Application.Models.ViewModel;
@model IEnumerable<StudentViewModel>
@{
    ViewData["Title"] = "Index";
}
<style>
    .row {
        display: flex;
        justify-content: center;
    }
</style>

<br />
<a asp-action="Create" class="btn btn-primary">Create New Student</a>
<br />

<br />
@if (Model?.Count() > 0)
{
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(M => M.StudentId)</th>

                <th>@Html.DisplayNameFor(M => M.StudentName)</th>
                <th>@Html.DisplayNameFor(M => M.StudentAdress)</th>
                <th>@Html.DisplayNameFor(M => M.Phone)</th>
                
                
               
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentId</td>

                    <td>@item.StudentName</td>
                    <td>@item.StudentAdress</td>
                    <td>@item.Phone</td>
                    <partial name="_ButtonsPartialView" model="@item.StudentId" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h3>No Student Found!!</h3>
    </div>
}


