@using Application.Models.ViewModel;
@model IEnumerable<ResultViewModel>


@{
    ViewData["Title"] = "Index";
}
<style>
    .row {
        display: flex;
        justify-content: center;
    }
</style>



@if (Model?.Count() > 0)
{
    <table class="table table-stripped table-hover">

        <thead>
            <tr>
                <th>@Html.DisplayNameFor(M => M.ResultId)</th>
                <th>@Html.DisplayNameFor(M => M.student.StudentName)</th>
                <th>@Html.DisplayNameFor(M => M.Cources.CourcesName)</th>
                <th>@Html.DisplayNameFor(M => M.Cources.Code)</th>
                <th>@Html.DisplayNameFor(M => M.ResultDegree)</th>




            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ResultId</td>
                    <td>@item.student?.StudentName</td>
                    <td>@item.Cources?.CourcesName</td>
                    <td>@item.Cources?.Code</td>
                    <td>@item.ResultDegree</td>

                    <partial model="@item.ResultId" />

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h3>No Result Found!!</h3>
    </div>
}

<script src="site.js"></script>

